<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>Ng PaintingPedia - by Francesco Benincasa</span>
</mat-toolbar>


<mat-tab-group>
  <mat-tab label="Paintings">
    <ng-template matTabContent>
      <app-at-table table="Paintings"></app-at-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Artists">
    <ng-template matTabContent>
      <app-at-table table="Artists"></app-at-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Museums">
    <ng-template matTabContent>
      <app-at-table table="Museums"></app-at-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Contributors">
    <ng-template matTabContent>
      <app-at-table table="Contributors"></app-at-table>
    </ng-template>
  </mat-tab>
</mat-tab-group>




<router-outlet></router-outlet>

