<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon class="icon">input</mat-icon>
        <span class="label">&nbsp;Login</span>
      </a>
      <a mat-list-item>
        <mat-icon class="icon">home</mat-icon>
        &nbsp;<span class="label">&nbsp;&nbsp;&nbsp;Home</span>
      </a>
      <a mat-list-item>
        <mat-icon class="icon">dashboard</mat-icon>
        &nbsp;<span class="label">&nbsp;Dashboard</span>
      </a>
      <a mat-list-item type="button">
        <mat-icon class="icon">input</mat-icon>
        &nbsp;<span class="label">&nbsp;&nbsp;&nbsp;LogOut</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a>
          Ng PaintingPedia - by Francesco Benincasa
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a>
              <mat-icon class="icon">input</mat-icon>
              <span class="label">&nbsp;Login</span>
            </a>
          </li>
          <li>
            <a>
              <mat-icon class="icon">home</mat-icon>
              <span class="label">&nbsp;Home</span>
            </a>
          </li>
          <li>
            <a>
              <mat-icon class="icon">dashboard</mat-icon>
              <span class="label">&nbsp;Dashboard</span>
            </a>
          </li>
          <li>
            <a>
              <mat-icon class="icon">input</mat-icon>
              <span class="label">&nbsp;LogOut</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-tab-group>
  <mat-tab label="Paintings">
    <ng-template matTabContent>
      <app-at-table table="Paintings"></app-at-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Artists">
    <ng-template matTabContent>
      <app-at-table table="Artists"></app-at-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Museums">
    <ng-template matTabContent>
      <app-at-table table="Museums"></app-at-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="Contributors">
    <ng-template matTabContent>
      <app-at-table table="Contributors"></app-at-table>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>

